.cadastros-full {
  padding: 16px;
}

.toolbar-row {
  margin-bottom: 16px;
}

.mat-column-actions {
  width: 100px;
  text-align: center;
}

.mat-column-itemsCount {
  width: 80px;
  text-align: center;
}

.mat-column-date {
  width: 150px;
}
